.manage-tags {
    display: block;
    max-height: 160px;
    overflow-y: scroll;
}

.edit-tags {
    display: block;
    max-height: 260px;
    overflow-y: scroll;
}
.edit-tags-thead,
.edit-tags tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.mh-600 {
    max-height: 600px;
}
