.breadcrumb-custom {
    .breadcrumb {
        background-color: $white;
        border: none;
        padding: 0.895rem 1.3rem;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        @extend .h5;
        .breadcrumb-item {
            display: flex;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @extend .font-medium-semibold;
            a {
                text-decoration: none;
                color: $neutral-600;
                padding: 0.5rem 0rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active {
                a {
                    font-weight: bold;
                }
            }
            &:first-child::before {
                color: $neutral-600;
                content: ' ';
                margin: 0.5rem 0.5rem 0rem 1rem;
            }
            &:first-child a {
                color: $primary;
                @extend .font-medium-semibold;
            }
            &:last-child {
                cursor: pointer;
                @extend .h5;
            }
        }
    }

    &.show {
        visibility: show;
    }
    &.hide {
        visibility: hidden;
    }
}

.breadcrumb-spacer-icon-right-arrow {
    .breadcrumb-item + .breadcrumb-item::before {
        color: $neutral-600;
        font-size: 8px;
        font-weight: bold;
        padding: 0px 10px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-top: 0.5rem;
}
