.custom-json-viewer {
    display: flex;
    background: #eefaff;
    color: #3c4b64;
    padding: 1rem;

    .content {
        overflow: hidden;
        line-height: 1.2em;
        height: 3.6em;
    }
    .content.collapsed {
        overflow: hidden;
    }
    .content.expanded {
        overflow: visible;
        height: auto;
    }
    .copy-btn {
        &:hover {
            cursor: pointer;
        }
    }
}
