.custom-tooltip {
    .tooltip-inner {
        background-color: $secondary-300;
        color: $black;
    }

    &.tooltip {
        border-radius: 5px;
        background-color: $secondary-300;
        z-index: 9999;
        opacity: 1;
        border: 1px solid $red;
    }
    &.normal {
        border: 1px solid $border-tooltip;
    }
    .tooltip.show {
        opacity: 1;
    }
}
